---
import { actions } from 'astro:actions';
const result = Astro.getActionResult(actions.rsvp);
const { cta } = Astro.props;
---

{ result && result.data &&<p>{result.data.message}</p>}
{ result && result.error && <p>{result.error.message}</p>}

{ !result && <form method="POST" class="flex flex-col flex-grow" action={actions.rsvp}>
  <label for="firstName">First Name</label>
  <input id="firstName" required name="firstName" />

  <label for="lastName">Last Name</label>
  <input id="lastName" required name="lastName" />

  <label for="email">Email Address</label>
  <input id="email" type="email" required name="email" />

  <div class="py-4 sm:py-2">
    <button class="border border-secondary bg-secondary my-4 px-5 py-3 w-auto text-white font-bold" type="submit">{cta}</button>
  </div>
</form>
}
