@tailwind base;
  @tailwind components;
  @tailwind utilities;
  
@font-face {
  font-family: 'Kobe';
  src: url('/fonts/kobe11-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kokoro';
  src: url('/fonts/Kokoro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kobe';
  src: url('/fonts/kobe11-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@page {
  size: A4;
  margin: 3cm 2cm;
}

@page {
  @bottom-right {
    content: counter(pageNumber);
  }
}
h1,h2,h3,h4,h5, h6, blockquote {
  page-break-after: avoid;
}

p {
  text-wrap: pretty;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
