---
export const prerender = false;
import { actions } from 'astro:actions';
import { getEntry } from 'astro:content';

import Layout from "../layouts/Base.astro"
const entry = await getEntry("Pages", "event")
const result = Astro.getActionResult(actions.rsvp);
const { Content } = await entry.render();
---

<Layout title="Presentation">
  <div transition:animate="slide" class="lg:w-11/12 xl:w-9/12 2xl:w-8/12 mx-auto py-12">
  <div class="prose prose-base md:prose-lg lg:prose-xl
        prose-h1:text-primary-dark 
        prose-lead:first-letter:text-3xl
        prose-lead:md:first-letter:text-4xl
        prose-lead:lg:first-letter:text-5xl
        prose-lead:prose-lg md:prose-lead:prose-xl lg:prose-lead:prose-2xl
        dark:prose-invert
        prose-h1:font-sans sm:prose-h1:text-9xl prose-h1:text-6xl
        prose-h2:font-sans md:prose-h2:text-3xl prose-h2:text-xl
        prose-strong:font-serif
        prose-strong:text-secondary
        prose-blockquote:font-serif prose-blockquote:font-normal prose-blockquote:not-italic
        prose-blockquote:border-secondary-light
        prose-a:no-underline prose-a:text-secondary-dark dark:prose-a:text-secondary-light hover:prose-a:text-secondary-light">
  <Content/>
  </div>
{ !result 
?  <form method="POST" style="display: grid" action={actions.rsvp}>
  <label for="firstName">First Name</label>
  <input id="firstName" name="firstName" />

  <label for="lastName">Last Name</label>
  <input id="lastName" name="lastName" />

  <label for="email">Email Address</label>
  <input id="email" type="email" name="email" />

  <button type="submit">RSVP</button>
</form>
: <div>{result.data.message}</div>}
</div>
</Layout>
