---
import '../styles/globals.css'

interface Props  {
  logoLink?: string;
  title: string
}

const title = "Rizom.ai"

---

<html lang="en" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={title}
      href={new URL("rss.xml", Astro.site)}
/>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <slot name="og:data" />
    <title>{title}</title>
  </head>
  <body class="bg-gradient-to-bl from-white via-secondary-light via-80% to-primary-light
flex flex-col justify-between font-sans md:text-lg min-h-screen">
    <header class="flex justify-between py-3 md:py-4 px-5 mx-auto w-full bg-gradient-to-br from-primary via-primary via-65% to-primary-light to-95%">

      <img class="w-[75px] md:w-[100px]" src="/Logo.svg" alt="Logo" />
    </header>
  <slot/>
    </body>
</html>

